%h1
  Sign Up
.row
  .col-md-6.col-md-offset-3
    = form_for @user, url: {action: "create"} do |f|
      %fieldset
        = f.label "Username: ", :id => :username
        = f.text_field :username
        %br
        = f.label :email
        = f.email_field :email
        %br
        = f.label :password
        = f.password_field :password
        %br
        = f.submit "Create", :class => "btn btn-lg btn-primary"

/ = form_tag("/users", method: "post") do
/   %h4
/     Please fill in the form below
/   %fieldset
/     %br
/     = label_tag(:username, "Username: ")
/     = text_field_tag(:username)
/     %br
/     %br
/     = label_tag(:email, "Email: ")
/     = email_field_tag(:email)
/     %br
/     %br
/     = label_tag(:password, "Password: ")
/     = password_field_tag(:password)
/     %br
/     %br
/     = submit_tag("Submit")



/ %form{:action => "/users", :method => "post", "accept-charset" => "UTF-8"}
/   %h4
/     Please fill in the form below
/   %fieldset
/     %label{:for => "username"}
/       Username: 
/     %input{ :type => "text", :placeholder => "username", :name => "user[username]", :id => "username"} 
/     %br
/     %br
/     %label{:for => "email"}
/       Email: 
/     %input{:type => "email", :placeholder => "email", :name => "user[email]", :id => "email"} 
/     %br
/     %br
/     %label{:for => "password"}
/       Password: 
/     %input{:type => "password", :name => "user[password]", :placeholder => "password", :id => "password"}
/     %br
/     %br
/     %input{:type => "submit", :value => "Submit"} 
/     %input{:type => "hidden", :name => "authenticity_token", :value => "= form_authenticity_token"}
